#game-history > section:first-child {
  height: 85%;
  display: flex;
  flex-direction: column;
}

#game-history h1 {
  margin-bottom: 20px;
}

#history-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#history-list > li:first-child {
  border-top: 2px solid #212121;
}

#history-list > li {
  width: 40%;
  border-bottom: 2px solid #212121;
  padding: 20px 0;
  margin: 0 auto;
}
